form#update(action="/update", method="post")
            h2#updateName Update
            label(for="updateId") Идентификатор
                input#updateId(type="text", name="id", value= update['id'])
            label(for="updateFullName") Наименование
                input#updateFullName(type="text", name="full_name", required, value= update['full_name'])
            label(for="updateAddress") Адрес
                input#updateAddress(type="text", name="address", required, value= update['address'])
            span.msg #{msg["phone"]}
            label(for="updatePhone") Телефон
                input#updatePhone(type="text", name="phone", required, value= update['phone'])
            button.btn Редактировать запись